<ui-view layout="column" class="page-login" flex="20" layout-align="start center" layout-fill layout-padding >

	<form name="myForm" ng-submit="myForm.$valid && changePassword(credentials)" >
		<md-card>
			<md-card-header layout-align="center">				
				<md-card-header-text >					
					<span class="md-title">Modifica la tua <br>password</span>			
				</md-card-header-text>
			</md-card-header>			
			<md-card-title>
			  <md-card-title-text layout="row" layout-wrap>			
				  <md-input-container flex="100">
				    <label>Vecchia  Password</label>
				    <input type="password" name="oldPassword" id="oldPassword" ng-model="credentials.oldPassword" ng-required="true">
				    <div ng-messages="myForm.oldPassword.$error" ng-show="myForm.oldPassword.$touched">
				      <div ng-message="required">Questo campo e' obblicatorio</div>
				    </div>
				  </md-input-container>
				  <md-input-container flex="100">
				    <label>Nuova Password</label>
				    <input type="password" name="newPassword" id="newPassword" ng-model="credentials.newPassword" ng-required="true">
				    <div ng-messages="myForm.newPassword.$error" ng-show="myForm.newPassword.$touched">
				      <div ng-message="required">Questo campo e' obblicatorio</div>
				    </div>
				  </md-input-container>
				  <md-input-container flex="100">
				    <label>Ripeti Password</label>
				    <input type="password" name="confirm_password" id="confirm_password" ng-model="confirm_password" ng-required="true" pw-check='newPassword'>
				    <div ng-messages="myForm.confirm_password.$error" ng-show="myForm.confirm_password.$touched">
				     	<div ng-message="required">Questo campo e' obblicatorio</div>
				      	<div class='msg-block' ng-show='myForm.$error'>
						  <span class='msg-error' ng-show='myForm.confirm_password.$error.pwmatch'>
						    La password non concide
						  </span>
						</div>
				    </div>
				  </md-input-container>						  		  				
			  </md-card-title-text>			 
			</md-card-title>			
			<md-card-actions layout="row" layout-align="center">
				<md-input-container flex="100">
			  		<md-button class="md-raised md-primary"  type="submit">Invia</md-button>
				 </md-input-container>
			</md-card-actions>				
		</md-card> 
	</form>   
</ui-view>