<ui-view layout="column" layout-fill layout-padding>
	<md-card ng-show="!showProgressbas" >
        <md-card-title layout="row">         
          
          <md-card-title-text>
            <img ng-src="{{company.logoPath}}" height="auto" width="276px" class="md-card-image" alt="{{company.ragioneSociale}}">
           
          </md-card-title-text>
          <md-card-content >
           
            <md-button aria-label="Modifica dati azienda" class="md-fab fab-edit md-accent" ng-click="go('/edit-company/'+getTimestamp())">
              <ng-md-icon class="icon" icon="edit" aria-label="Modifica dati azienda"></ng-md-icon>
            </md-button>                
               
            <p><span class="md-headline">{{company.ragioneSociale}}</span></p>
            <span class="md-subhead">{{company.indirizzo}} - {{company.cap}} - {{company.citta}}</span>
            <p><span class="md-subhead">P.I. {{company.piva}}</span></p>
            <p><strong>Num di tecnici: </strong>{{company.maxNumTecnici}}</p>
            
          </md-card-content>
        </md-card-title>
        
        <md-card-actions layout="row" layout-align="start">
          <md-button layout="col" class="md-raised md-accent" ng-click="go('/renewal-account')" layout-align="start">Rinnova account</md-button>
          <md-button layout="col" class="md-raised md-raised" ng-click="go('/change-password')" layout-align="start">Modifica password</md-button>
        </md-card-actions>
    </md-card>    
</ui-view>