<ui-view layout="column" class="page-login" flex="20" layout-fill layout-padding >

	<form name="myForm" ng-submit="myForm.$valid && forgotPassowrd(credentials)" >
		<md-card>

			<md-card-header layout-align="center">				
				<md-card-header-text >
					<div class="box-logo"><a href="http://www.iGestTech.it"><img src="img/logo.png" class="logo" ng-click=""></div></a>
					<span class="md-title">Recupera password</span>
					<small class="subtext">Inserisci l'email dell'account.</small>
				</md-card-header-text>
			</md-card-header>
			<md-card-title>
			  <md-card-title-text layout="row" layout-wrap>				
				  <md-input-container flex="100">
				    <label>Email</label>
				    <input type="text" name="email" id="email" ng-model="credentials.email" ng-required="true">
				    <div ng-messages="myForm.email.$error" ng-show="myForm.email.$touched">
				      <div ng-message="required">Questo campo e' obblicatorio</div>
				    </div>
				  </md-input-container>				  		  				
			  </md-card-title-text>			 
			</md-card-title>			
			<md-card-actions layout="row" layout-align="center">
				<md-input-container flex="100">
			  		<md-button class="md-raised md-primary" type="submit">Invia</md-button>
				 </md-input-container>
			</md-card-actions>	
			<md-card-actions layout="row" layout-align="center">
				 <md-input-container flex="50"></md-input-container>
			</md-card-actions>				
		</md-card> 
	</form>   
</ui-view>