<ui-view layout="column" class="page-login" flex="20" layout-align="center center" layout-fill layout-padding >

	<form name="myForm" ng-submit="login(credentials, isCompany)">
		<md-card>

			<md-card-header layout-align="center">				
				<md-card-header-text >
					<div class="box-logo"><img src="img/logo.png" class="logo"></div>
					<span class="md-title">Benvenuto in iGestTech.</span>
					<small class="subtext">Accedi come <span ng-if="isCompany">azienda</span><span ng-if="!isCompany">amministratore</span></small>
				</md-card-header-text>
			</md-card-header>
			<md-card-title>
			  <md-card-title-text layout="row" layout-wrap>				
				  <md-input-container flex="100">
				    <label>Username</label>
				    <input type="text" name="username" id="username" ng-model="credentials.username" ng-required="true">
				    <div ng-messages="myForm.username.$error" ng-show="myForm.username.$touched">
				      <div ng-message="required">Questo campo e' obblicatorio</div>
				    </div>
				  </md-input-container>
				  <md-input-container flex="100">
				    <label>Password</label>
				    <input type="password" name="password" id="password" ng-model="credentials.password" ng-required="true">
				    <div ng-messages="myForm.password.$error" ng-show="myForm.password.$touched">
				      <div ng-message="required">Questo campo e' obblicatorio</div>
				    </div>
				  </md-input-container>				  				
			  </md-card-title-text>			 
			</md-card-title>
			<md-card-actions layout="row" layout-align="left">
				<md-input-container flex="50">
					<md-switch ng-model="isCompany" aria-label="Switch 1">Azienda</md-switch>
				</md-input-container>
				<md-input-container flex="50">
					<div class="link"><a href="" class="md-raised md-primary" type="submit">Ricorda Password</a></div>
				</md-input-container>				
			</md-card-actions>
			<md-card-actions layout="row" layout-align="center">
				<md-input-container flex="100">
			  		<md-button class="md-raised md-primary" type="submit">Login</md-button>
				 </md-input-container>	
			</md-card-actions>
		</md-card> 
	</form>   
</ui-view>