
<div layout="column" class="relative page-tech" layout-fill role="main">
	<md-content flex md-scroll-y  ng-show="!showProgressbas">
		<ui-view layout="column" layout-fill layout-padding>
		  	<div class="inset" hide-sm></div>
			<ng-switch on="data.selectedIndex" class="tabpanel-container">
			  	<div id="tab1-content" aria-labelledby="tab1"  layout="row" layout-align="center center">
				  	<md-card flex-gt-sm="90" flex-gt-md="80">
						<md-card-content>                     
					  		
					  		<md-list-item ng-repeat="item in operations " class="md-2-line" ng-repeat="phone in phones">
					          
					          <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }" ng-init="item.longname = item.nome+ '' + item.cognome">
					            <h3> {{item.numeroRapporto}} </h3>
					            <p> {{item.Cliente}} </p>
					          </div>
					          <md-button class="md-secondary md-icon-button" ng-click="edit(item)" >
					            <ng-md-icon class="icon" icon="pdf"></ng-md-icon>
					          </md-button>
					          <md-button class="md-secondary " ng-click="delete(item)" >
					          	
					            <ng-md-icon class="icon" icon="file_download"></ng-md-icon>
					            Report
					          </md-button>
					          <md-divider ng-if="!$last"></md-divider>								  	
					        </md-list-item>

						</md-card-content>
				  	</md-card>
			  	</div>              
			  
		  	</ng-switch>

		</ui-view>
	</md-content>
</div>