
<div layout="column" class="relative page-tech" layout-fill role="main">
	<md-content flex md-scroll-y  ng-show="!showProgressbas">
		<ui-view layout="column" layout-fill layout-padding>
		  	<div class="inset" hide-sm></div>
			<ng-switch on="data.selectedIndex" class="tabpanel-container">
			  	<div id="tab1-content" aria-labelledby="tab1"  layout="row" layout-align="center center">
				  	<md-card flex-gt-sm="90" flex-gt-md="80">
						<md-card-content>                     
					  		 <p><small>Codive di Attivazione:</small> <span class="light">{{activationCode}}</span></p>
					  		<md-list-item ng-repeat="(key, item) in technicians | filter:searchTech" ng-class="{'md-2-line': true, 'isNotActive': !!(item.isActive == '0')}" ng-repeat="phone in phones">
					          
					          <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }" ng-init="item.longname = item.nome+ '' + item.cognome">
					            <h3> {{item.nome}} {{item.cognome}}</h3>
					            <p> {{item.email}} </p>
					          </div>
					          <md-switch class="switch-tech" ng-change="toogleActiveTechnic(item.username)" ng-true-value="'1'" ng-false-value="'0'" ng-model="item.isActive"></md-switch>
					          <md-button class="md-secondary md-icon-button" ng-click="go('/edit-technic/'+item.username)" >
					            <ng-md-icon class="icon icon-edit" icon="edit"></ng-md-icon>
					          </md-button>
					          
					          <md-divider ng-if="!$last"></md-divider>								  	
					        </md-list-item>
					        <md-list-item ng-if="technicians.length == 0">Nessun tecnico</md-list-item>
						</md-card-content>
				  	</md-card>
			  	</div>              
			  
		  	</ng-switch>

		</ui-view>
	</md-content>
</div>