<div layout="column" class="relative" layout-fill role="main">

	<md-content flex md-scroll-y>
		<ui-view layout="column" layout-fill layout-padding>
			<div class="inset" hide-sm></div>
			<ng-switch on="data.selectedIndex" class="tabpanel-container">
				<div id="tab1-content" aria-labelledby="tab1" layout="row" layout-align="center center">
					<md-card flex-gt-sm="90" flex-gt-md="80">
						<md-card-content>                      
							<md-list>
								<md-item ng-repeat="item in activity | filter:search">
									<md-item-content>
										<div class="md-tile-left inset" hide-sm>
										<user-avatar></user-avatar>
										</div>
										<div class="md-tile-content">
										<h3>{{item.what}}</h3>
										<h4>{{item.who}}</h4>                             
										</div>
										<ng-md-icon icon="edit" style="fill:#eee;"></ng-md-icon>
										<ng-md-icon icon="delete" style="fill:#eee;"></ng-md-icon>
									</md-item-content>
									<md-divider md-inset hide-sm ng-if="!$last"></md-divider>
									<md-divider hide-gt-sm ng-if="!$last"></md-divider>
								</md-item>
							</md-list>

						</md-card-content>
					</md-card>
				</div>              

			</ng-switch>

		</ui-view>
	</md-content>
</div>